.main5{
    background-color: #333;
    margin-bottom: 0%;
    margin-top: 10px;
}
.foot{
    background-color: black;
    color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

   
.img5{
    margin: 20px;
    border-radius: 50%;
}
.ul5{
    display: flex;
    justify-content: center;
    gap:30px;
    color: azure;
    list-style-type: none;
}

.logos5{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}