.main2{
    margin-left: 100px;
    padding-top: 20px;
    width:500px;
    margin-top: auto;
    background-color: white;
}
h2{
    margin-left: 5px;
}
.allimages{
    display: flex;
    justify-content: center;
    gap: 40px
}
.img2{
    width: 100px;
    height: 150px
}